# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore PHPStorm .idea folder
.idea/
.idea/workspace.xml

# Coverage directory used by tools like istanbul
coverage

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/

# build directory is created with npm build
build/

# block directory is created with npm build
block/

# Mac desktop directory
.DS_Store

# Windows image file caches
Thumbs.db

# Windows Folder config file
Desktop.ini

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env
